<div class="authform row">
	
        <%= render 'form', title: "Editar: " + @travel.route.origin.name.titleize + "-" + @travel.route.destination.name.titleize + ", " + @travel.date_departure + "-" + @travel.date_arrival, save: "Actualizar" %>

</div>