<% if resource.errors.any? %>
<div class="alert alert-danger" role="alert">
    <% resource.errors.full_messages.each do |message| %>
    <p class="my-0"><%= message %></p>
    <% end %>
</div>
<% end %>