<ul class="list-group pt-5">
	<p> <%= link_to 'Ciudades', cities_path, class: "btn btn-primary" %> </p>
	<p> <%= link_to 'Extras', extras_path , class: "btn btn-primary" %> </p>
	<p> <%= link_to 'Rutas', routes_path, class: "btn btn-primary" %> </p>
</ul>
