<section class="faq-section container py-5 d-flex flex-row align-items-start invisibleSection" id="preguntas-frecuentes">
    <div class="wrapper m5-4 w-100 invisibleLeft">
        <div class="accordion" id="accordion-tab-1">
            <div class="card">
                <div class="card-header" id="accordion-tab-1-heading-1">
                    <h5>
                        <button class="btn-faq text-left" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1">¿Puedo reservar un viaje y pagar a la hora de abordar?</button>
                    </h5>
                </div>
                <div class="collapse show" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                    <div class="card-body">
                        <p>No, a la hora de reservar el viaje se debe dejar pago.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion-tab-2">
            <div class="card">
                <div class="card-header" id="accordion-tab-2-heading-2">
                    <h5>
                        <button class="btn-faq text-left" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-2" aria-expanded="false" aria-controls="accordion-tab-2-content-2">¿Qué métodos de pago puedo usar?</button>
                    </h5>
                </div>
                <div class="collapse" id="accordion-tab-2-content-2" aria-labelledby="accordion-tab-2-heading-2" data-parent="#accordion-tab-2">
                    <div class="card-body">
                        <p>o Se pueden utilizar tarjetas de crédito, de débito y prepagas de cualquier banco de la República Argentina.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion-tab-3">
            <div class="card">
                <div class="card-header" id="accordion-tab-3-heading-3">
                    <h5>
                        <button class="btn-faq text-left" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-3" aria-expanded="false" aria-controls="accordion-tab-3-content-3">¿Qué pasa si declaro tener síntomas de covid?</button>
                    </h5>
                </div>
                <div class="collapse" id="accordion-tab-3-content-3" aria-labelledby="accordion-tab-3-heading-3" data-parent="#accordion-tab-3">
                    <div class="card-body">
                        <p>No se podrán reservar pasajes que salgan hasta 15 días después de la declaración.</p>
                        <p>Se cancelarán todos los viajes reservados que salgan hasta 15 días después de la declaración.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion-tab-4">
            <div class="card">
                <div class="card-header" id="accordion-tab-4-heading-4">
                    <h5>
                        <button class="btn-faq text-left" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-4" aria-expanded="false" aria-controls="accordion-tab-4-content-4">¿Puedo rehabilitar la reserva de pasajes si declare tener síntomas?</button>
                    </h5>
                </div>
                <div class="collapse" id="accordion-tab-4-content-4" aria-labelledby="accordion-tab-4-heading-4" data-parent="#accordion-tab-4">
                    <div class="card-body">
                        <p>Se podrá rehabilitar la reserva para los viajes anteriormente deshabilitados presentando un certificado de hisopado negativo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion-tab-5">
            <div class="card">
                <div class="card-header" id="accordion-tab-5-heading-5">
                    <h5>
                        <button class="btn-faq text-left" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-5" aria-expanded="false" aria-controls="accordion-tab-5-content-5">¿Puedo abordar un viaje en el camino?</button>
                    </h5>
                </div>
                <div class="collapse" id="accordion-tab-5-content-5" aria-labelledby="accordion-tab-5-heading-5" data-parent="#accordion-tab-5">
                    <div class="card-body">
                        <p>Si, si hay lugar el chofer lo admitirá, tomará los datos y efectuará el cobro únicamente en efectivo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion-tab-6">
            <div class="card">
                <div class="card-header" id="accordion-tab-6-heading-6">
                    <h5>
                        <button class="btn-faq text-left" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-6" aria-expanded="false" aria-controls="accordion-tab-6-content-6">¿Puedo reservar un viaje sin estar registrado?</button>
                    </h5>
                </div>
                <div class="collapse" id="accordion-tab-6-content-6" aria-labelledby="accordion-tab-6-heading-6" data-parent="#accordion-tab-6">
                    <div class="card-body">
                        <p>No, para reservar un viaje se debe estar registrado en la página, solo se pueden ver viajes sin estar registrado.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion-tab-7">
            <div class="card">
                <div class="card-header" id="accordion-tab-7-heading-7">
                    <h5>
                        <button class="btn-faq text-left" type="button" data-toggle="collapse" data-target="#accordion-tab-7-content-7" aria-expanded="false" aria-controls="accordion-tab-7-content-7">¿Puedo cancelar una reserva?</button>
                    </h5>
                </div>
                <div class="collapse" id="accordion-tab-7-content-7" aria-labelledby="accordion-tab-7-heading-7" data-parent="#accordion-tab-7">
                    <div class="card-body">
                        <p>Si, en el caso de cancelar la reserva con más de 48hs de antelación se devolverá el total del viaje. Si se realizase la cancelación con menos de 48hs de antelación solo se devolverá el 50% del valor del viaje. En ambos casos dentro del costo del viaje están los costos de los insumos.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion-tab-8">
            <div class="card">
                <div class="card-header" id="accordion-tab-8-heading-8">
                    <h5>
                        <button class="btn-faq text-left" type="button" data-toggle="collapse" data-target="#accordion-tab-8-content-8" aria-expanded="false" aria-controls="accordion-tab-8-content-8">¿Qué documentación necesito para viajar?</button>
                    </h5>
                </div>
                <div class="collapse" id="accordion-tab-8-content-8" aria-labelledby="accordion-tab-8-heading-8" data-parent="#accordion-tab-8">
                    <div class="card-body">
                        <p>Solo se necesitará tener el DNI, a partir de este se verificarán los datos y el pasaje.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-5 invisibleRight">
        <h2 class="welcome-title">Preguntas frecuentes</h2>
        <%= image_tag  "faq.svg", size: "400" %>
    </div>
</section>