<div class="authform row">
<<<<<<< HEAD
    
    <%= render 'form', title: "Editar: " + @city.name.capitalize + ", " + @city.state.capitalize, save: "Actualizar" %>

=======
        <%= render 'form', title: "Editar: " + @city.name.titleize + ", " + @city.state.titleize, save: "Actualizar" %>
>>>>>>> parent of 6bb9458 (Feature add and modify combi)

</div>