<ul class="list-group pt-5">
    
     <div class='row'>
        <div class="col-md-10">
             <h1>Cities </h1>
        </div>
        <div class="col-md" class="pull-right">
            <h1> <%= link_to "Add city", new_city_path, class: 'btn btn-primary btn-md' %> </h1>
        </div>
    </div>

    <% @cities.each do |city| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
            <h4 class="m-0"><%= city.name %> </h4>
            <p class="m-0"><%= city.state %> </p>
        </span>
        <%= link_to 'Eliminar', city, method: :delete, class: "btn btn-danger" %>
    </li>
    <% end %>
</ul>