<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <p>Tenés un mensaje de <%= @name %>!</p>
    <p>Podés responderlo a <%= @email %></p>

    <p>Mensaje:</p>
    <p><%= @message %></p>
</body>

</html>