<p>Hola <%= @resource.name + " " + @resource.last_name %>!</p>

<p>Alguien solicitó un link para reestablecer tu contraseña. Podés continuar el proceso a través del siguiente link:</p>

<p><%= link_to 'Reestablecer mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste esto, por favor ignorá este email.</p>
<p>Tu contraseña no va a cambiar hasta que accedas al enlace de arriba y crees una nueva.</p>