<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <%= link_to root_path, class:"navbar-brand" do %>
            <img style=" width: 40px; height: 40px;" src="/images/logo.png">
            <% end %>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <% if user_signed_in? %>
            <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
            <% else %>
            <%= link_to 'Ingresar', new_user_session_path, class: "btn" %>
            <%= link_to 'Registrarse', new_user_registration_path, class: "btn btn-primary" %>
            <% end %>
        </div>
    </nav>
</header>